.layout-grid {
  display: grid;
  grid-template-columns: 3.3rem auto;
  grid-template-rows: 3.3rem auto;
  height: 100vh;
  width: 100vw;
}

.layout-sidebar {
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
}

.layout-main {
  grid-row: 1 / span 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-navbar {
  flex-shrink: 0;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  background-color: #F9F9F9;
  padding: 0;
  margin-top: 3.3rem;
}
